 .rectangle1{
  position: absolute;
  width: 1450px;
  height: 0px;
  left: 0px;
  top: 0px;
  background: #af6b6b;
}

#image{
  position: relative;
  top: 20px;
} 

#submit_button{
position:relative;
left: 820px;
top: 0px;
left: 40%;
width: 296px;
height: 41px;
background: #1e5f1d;
}
#output-data-upload{
  left: 40%;
  width: 96px;
  height: 21px;
  background: #1e5f1d;
  
}
#output{
  position:relative;
  width: 96px;
  height: 21px;
  color: #1e5f1d;
  left: 40%;
  top:-240px

}
 
#column_inputs{
position: relative;
padding-top: 40px;
padding-bottom: 20px;
justify-content: center;
align-items: center; 
}

#detail_button{
  position: absolute;
  width: 296px;
  height: 91px;
  left: 728px;
  top: 70px;
  
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}


#calculate_button{
  position: absolute;
  width: 297px;
  height: 91px;
  left: 1081px;
  top: 70px; 
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

/* #home_text{
  position: absolute;
  width: 103px;
  height: 48px;
  left: 471px;
  top: 96px;
  
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  
  color: #FFFFFF;
  

} */

#home_text {
  font-family: 'times new roman';
  font-style: normal;
  font-weight: 400;
  width: 103px;
  height: 48px;
  left: 471px;
  top: 96px;
  font-size: 32px;
  line-height: 47px;
  text-decoration: none;
  color: white; /* Change this to the desired text color */
}

.home_button {
  position: relative;
  width: 296px;
  height: 91px;
  left: 374px;
  top: 70px;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
  position: relative;
  width: 296px;
  height: 91px;
  left: 234px;
  top: 90px;
  margin-left: 80px;
  /* margin-right: 100px; */
  background: #000000;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#detail_text{

  width: 303px;
  height: 39px;
  left: 806px;
  top: 96px;
  
  font-family: 'times new roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  text-decoration: none;
  color: #FFFFFF;
  
}

#calculate_text{

  width: 277px;
  height: 39px;
  left: 1133px;
  top: 96px;
  
  font-family: 'times new roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  text-decoration: none;
  color: #FFFFFF;
  
}

#esim{
position: absolute;
width: 188px;
height: 188px;
top: 30px;
}

/* #layout1{
position: relative;
width: 1440px;
height: 0px;

background: #ffffff;
} */


#page_layout2{
  position: absolute;

width: 1440px;
height: 1159px;
left: 0px;
top: 258px;

background: #ffffff;
}

#box{
position: relative;
height: 400px;
/* top: 100px; */
margin-top: 100px;
/* background: #be1d1d; */
}

.black_box4{
  position: absolute;
  width: 1440px;
  height: 235px;
  left: 0px;
  top: 261px;
  
background: #b03b3b;
}

#container{
  position: relative;
  height: 535px;
  left: 0px;
  top: 0px;
  
/* background: #823838; */
}

.black_box3{
  position: absolute;
  width: 1440px;
  height: 235px;
  left: 0px;
  top: 261px;
  
background: #000000;
}

.black_box33{
  position: relative;
  /* width: 1440px; */
  height: 235px;
  left: 0px;
  top: 100px;  
background: #000000;
}

#unlock_text{
  position: relative;

width: 934px;
height: 67px;
left: 261px;
top: 10px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 94px;
text-align: center;

color: #ffffff;
}

#zenq {
position: relative;
width: 322px;
height: 65px;
left: 67px;
top: 2px;

 }

#zenq_text{
/* width: 317px;
height: 59px; */
 
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 59px;
/* identical to box height */

color: #000000;

}

#long_text{
position: relative;
width: 754px;
height: 330px;
left: 72px;
top: 7px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;

}

#purple{
  position: relative;
width: 424px;
height: 332px;
top:-332px;
left: 890px;
/* top: 6px; */

background: rgba(79, 27, 189, 0.6);
}

#green{
position: relative;
width: 447px;
height: 332px;
left: 993px;
top: -751px;

background: rgba(33, 112, 31, 0.69);
}

#nkar{
position: relative;
width: 430px;
height: 342px;
/* left: -1000x; */
top: -1050px;
margin-left: 960px;
}
 

#our_text{
position: relative;
width: 271px;
height: 188px;
left: 75px;
top: 26px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 94px;
text-align: center;

color: #FFFFFF;
}

#link_git{
position: relative;

width: 217px;
height: 86px;
left: 102px;
top: 21px;

background: #FFFFFF;
border-radius: 30px;
}

#link{
position: relative;
width: 178px;
height: 57px;
left: 20px;
top: 10px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 73px;
text-align: center;
color: #000000;
}

#purple_box{
position: absolute;
width: 1019px;
height: 96px;
left: 421px;
top: 950px;
background: #4F1BBD;
}

#our_team{
position: relative;
width: 274px;
height: 73px;
/* left: 40%; */
text-align: center;
/* text */
/* bottom: 20px; */
/* top: px; */
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 73px;
/* text-align: center; */
color: #FFFFFF;
}

#team_box{
  position: relative;
  width: 1026px;
  height: 96px;
  left: 424px;
  top: -467px;
  background: #4F1BBD;
}

#green_box{
  position: relative;
  width: 424px;
  height: 467px;
  /* left: 0px;
  top: 0px; */
  background: #1e5f1d;
}

#black_box{
  width: 1019px;
  height: 376px;
  left: 421px;
  top: 1041px;
  background: #000000;
}

#nkar_nare{
  position: relative;
  top: 50px;
  width: 224px;
  height: 239px;
  left: 70px;
 }

#nkar_luso{
  position: relative;
  top: -310px;
  left: 385px;
  width: 214.52px;
  height: 262px; 
}

#nkar_armin{
  top: -675px;
  position: relative;
  left: 700px;
  width: 236.86px;
  height: 262px;
  /* top:-260px  */
}

#black_box_1{
  position: relative;
  width: 1019px;
  height: 376px;
  left: 424px;
  top: -472px;
  background: #000000;
}

#nare_name{
position: relative;
width: 120px;
height: 64px;
left: 120px;
top: 5px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}

#luso_name{
position: relative;
width: 120px;
height: 64px;
left: 440px;
top: -360px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #ffffff;
}

#armin_name{
position: relative;
width: 120px;
height: 64px;
left: 760px;
top: -720px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;

color: #FFFFFF;
}


#clv_text{
  position: relative;
  width: 777px;
 height: 59px;
 left: 72px;
 top: 21px;
 
 font-family: 'Hanuman';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 line-height: 59px;
 /* identical to box height */
 
 color: #000000;
 
 }



#explore_text{
  position: relative;

width: 934px;
height: 67px;
left: 261px;
top: 50px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 94px;
text-align: center;

color: #ffffff;
}


.rect1{
  position: absolute;
  width: 650px;
  height: 554px;
  left: 32px;
  top: 554px;
  
  background: #b7cbb7;
}

.rect2{
  position: absolute;
  width: 650px;
  height: 554px;
  left: 750px;
  top: 554px;
  
  background: #c4bcd7;
}

#zenq_1 {
  position: relative;
width: 322px;
height: 65px;
left: 67px;
top: 722px;

 }



#long_text_1{
  position: relative;
width: 500px;
height: 330px;
left: 72px;
top: 20px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;

}

#rfm_text{
  position: relative;
width: 500px;
height: 330px;
left: 72px;
top: 20px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;

}



#rfm{
  position: relative;
  width: 777px;
 height: 59px;
 left: 72px;
 top: 21px;
 
 font-family: 'Hanuman';
 font-style: normal;
 font-weight: 400;
 font-size: 40px;
 line-height: 59px;
 /* identical to box height */
 
 color: #000000;
 
 }


 #csv_text{
  position: absolute;

width: 934px;
height: 67px;
left: -270px;
top: 0px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 94px;
text-align: center;

color: #ffffff;
}

#csv_text_1{
  position: relative;

width: 934px;
height: 67px;
left: -340px;
top: -25px;

font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 94px;
text-align: center;

color: #ffffff;
}
#upload_buttom{
  position: relative;
  
  width: 400px;
  height: 86px;
  left: 10%;
  top: 20px;
  
  background: #410d5e; 
  }


.rect3{
  position: relative;
  width: 650px;
  height: 554px;
  left: 32px;
  /* top: 554px; */
  
  background: #c4bcd7;
}

.rect4{
  position: absolute;
  width: 650px;
  height: 554px;
  left: 750px;
  top: 0px;
  
  background: #b7cbb7;
   
}

 .pordz{
  position: absolute;
  width: 100%;
  height: 554px;
  top: 1180px;
  background: #ffffff;
} 


#datatable-upload {
  margin-top: 20px;
  margin-bottom: 20px;
}

#insert-data-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#columns-mapping {
  margin-top: 20px;
  margin-bottom: 20px;
}

#insert-data-button-2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
